{% extends '::base.html.twig' %}

{% block base_html_body_header_inner %}
    <h1>Two Factor Authentication</h1>
{% endblock %}

{% block base_html_body_content_inner %}
    u2f wolololo
{% endblock %}
